@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*https://fontawesome.com/v4.7.0/icons/*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Atkinson+Hyperlegible,Latha,Helmet,Freesans,Helvetica,Arial,sans-serif';
  color: #333;
  background: #333;
  overflow-x: hidden;
}

#container{width: 100%;}

	.page-contents-list {
		margin: 1em 0 2em;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #aaa;
	}

	.page-contents-list li {
		margin: 0;
		padding:  .5em;
		border: 1px solid #aaa;
		border-bottom:  0;
	}

	.page-contents-list a {
		display: inline-block;
	}

	.page-contents-list a:focus {
		background: black;
		outline: none;
	}

	.page-contents-list a:hover {
		background: green;
	}

	.page-contents-list a:active {
		background: red;
	}

	.hide { 
		display:none
	}
	.sr-only {
		position: absolute !important;
		height: 1px; width: 1px; 
		overflow: hidden;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}